/* imports */
@import url("ShyFox/shy-variables.css");
/* @import url("ShyFox/shy-global.css"); */
/*@import url("ShyFox/shy-sidebar.css");*/
/*@import url("ShyFox/shy-toolbar.css");*/
/*@import url("ShyFox/shy-navbar.css");*/
/*@import url("ShyFox/shy-controls.css");*/
/* @import url("ShyFox/shy-findbar.css"); */
/* @import url("ShyFox/shy-compact.css"); */
/* @import url("ShyFox/shy-icons.css"); */
/* @import url("ShyFox/shy-floating-search.css"); */

/* Hide side navbar on vertical tabbar */
#sidebar-main {
  visibility: collapse;
}
#sidebar-box {
/*   position: fixed !important;
  top: 34px;
  margin: 4px !important; */
/*    */
  position: relative !important;
  top: 0px;
  padding-left: 2px !important;
/*    */
  padding: 0 !important;
  z-index: 9999 !important;
  right: 0;
  bottom: 0;
  width: 300px;
  height: auto;
  background-color: transparent;
}

/* centered navbar text */
#urlbar:not(:is(
  [breakout][breakout-extend],
:focus-within
) ) {
  #urlbar-input {
    text-align: center !important;
  }
}

/* tab loading progress in urlbar background */
#main-window:not([customizing]):not([titlepreface*="‌"]):has(.tabbrowser-tab[selected][busy]) #urlbar:not([breakout-extend]) #urlbar-background {
  background: linear-gradient(
    to right,
    color-mix(in srgb, var(--shy-color) 30%, transparent) 0 var(--shy-tab-load-pcent),
    color-mix(in srgb, var(--bt-col) 10%, transparent) var(--shy-tab-load-pcent) 100%
  ) !important;
}

/* Rounded navbar */
#main-window[customizing] {
  #nav-bar {
    border-radius: var(--big-rounding) !important;
    background-color: var(--bg-col) !important;
  }
  #urlbar-background,
  #searchbar {
    background-color: var(--tb-col) !important;
  }
}

/* remove rounded url input */
#urlbar-input {
  border-radius: 0 !important;
}

/* show bg even on non floating navbar address */
#urlbar[breakout-extend] {
    /* cool translucent background */
  &:before {
    content: "";
    position: fixed;
    pointer-events: none;
    border-radius: var(--rounding);
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: color-mix(in srgb, black 40%, transparent);
  }
}

/* ------ compact extension ------ */
#unified-extensions-view {
  --uei-icon-size: 24px;
  --extensions-in-row: 4;
  width: 100% !important;
  :is(
      toolbarseparator,
      .unified-extensions-item-menu-button.subviewbutton,
      .unified-extensions-item-action-button .unified-extensions-item-contents
    ) {
    display: none !important;
  }
  :is(
      #overflowed-extensions-list,
  #unified-extensions-area,
  .unified-extensions-list 
    ) {
    display: grid !important;
    grid-template-columns: repeat(var(--extensions-in-row),auto);
    justify-items: center !important;
    align-items: center !important;
  }
  :is(
      :is(
        #unified-extensions-area,
  .unified-extensions-list
      ) .unified-extensions-item,
  .unified-extensions-list
    ) {
    max-width: max-content;
  }
  #unified-extensions-area {
    margin-bottom: 5px !important;
    border-top: 1px solid var(--panel-separator-color);
    border-bottom: 1px solid var(--panel-separator-color);
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .unified-extensions-item[attention] > .unified-extensions-item-action-button.subviewbutton {
    background-position: left calc(var(--uei-dot-horizontal-position-in-panel) - 4px) bottom var(--uei-dot-vertical-position-in-panel) !important;
  }
  .unified-extensions-item-action-button {
    padding-right: 3px !important;
  }
}
/* ------ end compact extension ------ */
